body {
  height: 3000px;
}

.button-class {
  position: absolute;
  left: -18px;
  top: -16px;
  background-color: black;
  color: white;
  font-family: Arial;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
}

.square-class {
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 320px;
  height: 180px;
  background-color: rgb(140, 140, 140);
}

.time-class {
  font-family: Arial;
  font-size: 14px;
  position: absolute;
  bottom: 6px;
  right: 6px;
  background-color: black;
  color: white;
  padding: 5px 5px;
}

.lot-box {
  width: 300px; 
  position: relative;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
.image-class {
  width: 100%;
}

.text-class {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 6px;
  right: 0px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 500;
  background-color: black;
  color: rgba(255, 255, 255, 0);
  white-space: nowrap;
  overflow: hidden;
  height: 32px;
  width: 0px;
  transition: width 0.25s, color 0.45s;
}

.cart-box {
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0px;
  transition: height 0.25s;
}

.cart-button {
  font-size: 14px;
  font-family: Arial;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  padding: 8px 14px;
  opacity: 0;
  transition: opacity 0.1s, padding 0.15s, font-size 0.15s;
}

.lot-box:hover .cart-box {
  height: 90px;
}

.lot-box:hover .cart-button {
  opacity: 1;
}

.lot-box:hover .text-class {
  width: 85px;
  color: rgba(255, 255, 255, 1);
}

.cart-button:hover {
  font-size: 16px;
  padding: 12px 20px;
}

.cart-button:active {
  background-color: rgba(255, 255, 255, 0.75);
  color: rgba(0, 0, 0, 0.75);
}