.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 52px;
  width: 72px;
  background-color: white;
  z-index: 200;
  padding-top: 5px;
}

@media (min-width: 1200px) {
  .sidebar {
    width: 200px;
  }
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .sidebar-link {
    flex-direction: row;
    height: 44px;
    justify-content: start;
    padding-left: 20px;
  }
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 6px;
}

@media (min-width: 1200px) {
  .sidebar-link img {
    margin-bottom: 0px;
    margin-right: 24px;
  }
}

.sidebar-link div {
  font-size: 10px;
}

@media (min-width: 1200px) {
  .sidebar-link div {
    font-size: 12px;
  }
}